<div class="container mt-3">
  <div class="d-flex justify-content betweem flex-wrap flex-md-nowarp align-item-center pt-2 
  pb-2 mb-3 border-bottom">
    <h1>Users List</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Address</th>
          <th scope="col">Career</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of User; let i = index">
          <th scope="row">{{ (i+1) }}</th>
          <td>{{ user.fname }} {{ user.lname }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.career }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" routerLink="/edit-user/{{ user._id }}">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="delete(user._id,i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
