<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <a href="" class="navbar-brand">Exam2 ITopplus</a>

    <div id="navbarNav" class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link" routerLinkActive="active" routerLink="/list-user">Show User</a>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link" routerLinkActive="active" routerLink="/add-user">Add User</a>
        </li>
      </ul>

    </div>
  </div>
  
</nav>
<router-outlet></router-outlet>

